.loginContainer {
  background-color: #fff;
  display: flex;
  padding-bottom: 50px;
  flex-direction: column;
}

.loginContainerChild {
  justify-content: space-between;
  background-color: var(--Primary-Blue-1, #1c1f8d);
  display: flex;
  width: 100%;
  gap: 20px;
  padding: 5px 16px 5px 32px;
}
@media (max-width: 991px) {
  .loginContainerChild {
    padding-left: 20px;
  }
}
.loginContainerChild1 {
  color: var(--White, #fff);
  text-align: center;
  flex-grow: 1;
  white-space: nowrap;
  font: 600 17px/22px Poppins, -apple-system, Roboto, Helvetica, sans-serif;
}
@media (max-width: 991px) {
  .loginContainerChild1 {
    white-space: initial;
  }
}
.div-4 {
  align-self: center;
  display: flex;
  gap: 8px;
  margin: auto 0;
}
@media (max-width: 991px) {
  .div-4 {
    justify-content: center;
  }
}
.img {
  aspect-ratio: 1.54;
  object-fit: contain;
  object-position: center;
  width: 20px;
  fill: var(--White, #fff);
  overflow: hidden;
  max-width: 100%;
}
.img-2 {
  aspect-ratio: 1.31;
  object-fit: contain;
  object-position: center;
  width: 17px;
  fill: var(--White, #fff);
  overflow: hidden;
  max-width: 100%;
}
.img-3 {
  aspect-ratio: 2.08;
  object-fit: contain;
  object-position: center;
  width: 27px;
  overflow: hidden;
  max-width: 100%;
}
.div-5 {
  background-color: #1c1f8d;
  display: flex;
  width: 100%;
  flex-direction: column;
  padding: 45px 55px 45px 20px;
  height: 400px;
}
@media (max-width: 991px) {
  .div-5 {
    padding-right: 20px;
  }
}
.div-6 {
  color: var(--White, #fff);
  letter-spacing: -0.18px;
  margin-top: 311px;
  white-space: nowrap;
  font: 400 18px/24px Poppins, -apple-system, Roboto, Helvetica, sans-serif;
}
@media (max-width: 991px) {
  .div-6 {
    margin-top: 40px;
    white-space: initial;
  }
}

.div-13 {
  color: var(--202020, #202020);
  align-self: center;
  margin-top: 53px;
  white-space: nowrap;
  font: 500 14px Poppins, sans-serif;
}
@media (max-width: 991px) {
  .div-13 {
    margin-top: 40px;
    white-space: initial;
  }
}
.div-14 {
  align-self: center;
  display: flex;
  gap: 10px;
  margin: 12px 0 96px;
}
@media (max-width: 991px) {
  .div-14 {
    margin-bottom: 40px;
  }
}
.div-15 {
  border-radius: 6px;
  border: 1px solid rgba(128, 128, 128, 0.3);
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  gap: 20px;
  padding: 15px 11px;
}
.div-16 {
  color: var(--202020, #202020);
  flex-grow: 1;
  white-space: nowrap;
  font: 500 15px/20px Poppins, -apple-system, Roboto, Helvetica, sans-serif;
}
@media (max-width: 991px) {
  .div-16 {
    white-space: initial;
  }
}
.img-4 {
  aspect-ratio: 2;
  object-fit: contain;
  object-position: center;
  width: 12px;
  overflow: hidden;
  align-self: center;
  max-width: 100%;
  margin: auto 0;
}
.div-17 {
  border-radius: 6px;
  border: 1px solid rgba(128, 128, 128, 0.3);
  background-color: #fff;
  display: flex;
  width: 226px;
  height: 40px;
  flex-direction: column;
}

.loginPageImage {
  aspect-ratio: 1.16;
  object-fit: contain;
  object-position: center;
  width: 100%;
  overflow: hidden;
  align-self: stretch;
}

.loginPageTextStrip {
  color: var(--White, #fff);
  letter-spacing: -0.18px;
  white-space: nowrap;
  background-color: #080a5a;
  align-self: stretch;
  justify-content: center;
  padding: 24px 39px 24px 20px;
  font: 400 18px/24px Poppins, -apple-system, Roboto, Helvetica, sans-serif;
}
@media (max-width: 991px) {
  .loginPageTextStrip {
    white-space: initial;
    padding-right: 20px;
  }
}
